.main {
    font-family: 'Roboto';
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    padding-bottom: 25px;
    padding-top: 24px;
    text-decoration: none;
    margin-right: 93px;
}

.header-mail:hover .header-contact {
    color: #2196F3;
}
.header-mail:hover .header-icon {
    fill: #2196F3;
}

.header-span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-icon {
    width: 16px;
    height: 12px;
    fill: #757575;
    margin-right: 10px;
}

.header-link {
    text-decoration: none;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}

.header-mail {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-mail:hover {
    color: #2196F3;
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    font-family: 'Roboto';
}



.solution {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/hero-backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.solution-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
}

.solution-button {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}

.Advantages-details {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;

}

.Advantages-consideration {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.img-text {
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
padding-top: 27px;
padding-bottom: 27px;
}
.img-box {
    width: 370px;
height: 70px;
flex-shrink: 0;
background: #2F303ACC;
position: relative;
bottom: 70px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.team-item {
    background: #FFF;
}

.team-Igor {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-top: 30px;
}

.team-text-box {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 30px;
    margin-top: 10px;
}

.team-Olga {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-Mykola {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-Mikhailo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}
.icon-link:hover .team-icon {
    fill: #FFFFFF;
}
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
}
.team-icon:hover {
    fill: #FFFFFF;
}

.icon-link:hover {
    border-radius: 50%;
    background-color: #2196F3;
}

.icon-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-box {
    margin-top: -28px;
    padding-bottom: 30px;
}


.icon-company {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}
.icon-text {
    color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-left: auto;
margin-right: auto;
padding-top: 94px;
padding-bottom: 50px;
}
.icon-company:hover {
    fill: #2196F3;
}

.icon-item:hover {
border: 1px solid #2196F3;
}
.icon-item:hover .icon-company {
    fill: #2196F3; 
}
.icon-item {
width: 170px;
height: 92px;
border-radius: 4px;
border: 1px solid #AFB1B8;
display: flex;
justify-content: center;
align-items: center;
}
.icon-list {
    display: flex;
    gap: 30px;
    padding-bottom: 94px;
}
.footer {
    background: #2F303A;
}

.footer-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-span {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-adres {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
}

.footer-mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 9px;
    margin-bottom: 9px;
}
.footer-box {
    margin-left: 70px;
}

.footer-container {
    display: flex;
}
.footer-mail:hover {
    color: #2196F3;
}
.footer-title-icon {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 12px   ;
}

.footer-icon {
    width: 20px;
height: 20px;
flex-shrink: 0;
fill: #FFFFFF;
margin-left: 12px;
margin-right: 12px;
margin-top: 12px;
margin-bottom: 12px;
}
.footer-list {
    display: flex;
    gap: 22px;
}
.footer-item {
border-radius: 100%;
width: 44px;
height: 44px;
flex-shrink: 0;
}
.footer-item:hover {
    background-color: #2196F3;
}
.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.img-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.Advantages-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.Advantages-item::before {
    content: '';
    background-image: url(../img/antenna.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 120px;
    display: block;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.Advantages-item:nth-child(2)::before {
    content: '';
    background-image: url(../img/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 120px;
    display: block;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.Advantages-item:nth-child(3)::before {
    content: '';
    background-image: url(../img/diagram.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 120px;
    display: block;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.Advantages-item:nth-child(4)::before {
    content: '';
    background-image: url(../img/astronaut.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 120px;
    display: block;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.Advantages-details {
    padding-top: 30px;
}

.team {
    background: #F5F4FA;

}

.team-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.team-item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.footer-list {
    list-style: none;
}

.Appendices-list {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.Appendices {
    padding-top: 94px;
    padding-bottom: 50px;
}

.Appendices-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
}

.Appendices-button:hover {
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.Technocrak-item:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}

.Technocrak-item {
    border: 1px solid #EEE;
    width: 370px;
    flex-shrink: 0;
}

.Technocrack-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.Technocrak {
    padding-bottom: 94px;
}

.Technocrack-text-box {
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 87;
    letter-spacing: 0.03em;
    color: #757575;
    padding-top: 4px;
}

.Technocrak-list {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.header-logo-portfolio {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
}

.header-span-portfolio {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-link-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.header-link-portfolio:hover {
    color: #2196F3;
}

.header-list-portfolio {
    list-style: none;
}

.header-mail-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}

.header-mail-portfolio:hover {
    color: #2196F3;
}

.header-tel-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.footer-portfolio {
    background: #2F303A;
}

.footer-adres-portfolio {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 20px;
}

.footer-mail-portfolio {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-tel-portfolio {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-title-portfolio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-span-portfolio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.header-nav {
    display: flex;

}

.header-list2 {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-left: auto;
    justify-content: flex-end;
}

.div-container-footer {
    display: flex;
    flex-direction: column;

}

.img-list {
    display: flex;
    gap: 30px;

}

.Technocrak-div {
    padding-left: 24px;
    padding-bottom: 20px;
}

.div-box {
    height: 1px;
    background: #ECECEC;
}